@font-face {
    font-family: 'GothamRounded-Bold';
    src: url('/assets/fonts/Gotham Rounded Bold.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Dosis';
    src: url('/assets/fonts/Dosis-Bold.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2'), url('/assets/fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2'), url('/assets/fonts/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjWVAewA.woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}